# RESTful API
requests~=2.31.0

# GUI
customtkinter~=5.2.1
CTkMessagebox~=2.5
PyQt5~=5.15.10
qdarkstyle~=3.2
Pillow~=10.1.0

# MLM
numpy~=1.25.2
opencv-python~=4.8.1.78
pandas~=2.1.2
transformers~=4.34.1
ultralytics~=8.1.47

configparser~=6.0.0
scipy~=1.11.3
imgaug~=0.4.0
validators~=0.22.0
matplotlib~=3.8.0
shapely~=2.0.2
tensorflow~=2.14.0
efficientnet~=1.0.0